# Dependencies
node_modules/
build/
dist/
.env


# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.iml


#spring boot properties
target/
*.class
*.jar
*.war
application.properties
