# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build outputs
build/
dist/

#spring boot properties
application.properties
